@import "variables";
@import "mixins";

H2 {
    color: $p-white;
    text-align: center;
    margin:5px ;
    position: relative;
    left: 18% ;
    }
    

form{
    @include formulario;

    .input_form {
        @include input;
        }
        
        textarea {
            @include textarea;
            }
        
    }

    .mapa {
        margin-bottom: 5%;
        margin-top: -30%;
        margin-left: 10%;
        }
    .soli{
        text-align: center;
        
    }