H2 {
    color: white;
    text-align: center;
    margin:5px ;
    position: relative;
    left: 18% ;
    }
form{
    height: 400px;
    width: 360px;
    background-color:white;
    text-align: center;
    position: relative;
    left: 55%;
    border-radius: 5px;
    .input_form {
        display: inline-block;
        width: 75%;
        height: 15%;
        margin:  2%;
        background-color: red;
        border: whitesmoke;
        border-radius: 10px;
        }
        
        textarea {
            text-align: center;
            background-color: red;
            border: whitesmoke;
            border-radius: 5px;
            width: 97%;
            height: 36%;
            margin: 0%;
                padding: 0%;
            }
        
    }
    .mapa {
        margin-bottom: 5%;
        margin-top: -30%;
        margin-left: 10%;
        }
    .soli{
        text-align: center;
        
    }