@mixin formulario{
    height: 400px;
    width: 360px;
    background-color: $color-principal;
    text-align: center;
    position: relative;
    left: 55%;
    border-radius: 5px;
}
@mixin input {
    display: inline-block;
        width: 75%;
        height: 15%;
        margin:  2%;
        background-color: $p-white;
        border: $p-white;
        border-radius: 10px;
}
@mixin textarea {
    text-align: center;
    background-color: $p-white;
    border: $p-white;
    border-radius: 5px;
    width: 97%;
    height: 36%;
    margin: 0%;
        padding: 0%;
}