@import "variables";

.mh1{
text-align: center;
padding-top: 2%;
padding-bottom: 2%;
}
.mcentral{
width: 90%;
margin-left: 5%;
}
.motosp{
    text-align: center;
    .mp{
        font-size: 2rem;
        padding-left: 5%;
    }
}
.imgm{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}
.pmotos{
    color: $p-white;
    text-align: center;
    width: 85%;
    padding-left: 15%;
    margin-left: 0%;
    
}
.txbobb{
    text-align: center;
    font-size: 2rem;
    color: $p-white ;
    margin-left: 0%;
    }
