@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: black;
font-family: 'Minerve', cursive;
}
p {
color: white;
font-size: 15px;
}
h1 {
    color: white;
}

.motoprincipal {
width: 100%;
height: 100%;
}

/*formulario*/
H2 {
color: white;
text-align: center;
margin:2px ;
position: relative;
left: -15px ;
}
form{
height: 400px;
width: 360px;
background-color:white;
text-align: center;
position: relative;
left: 35%;
border-radius: 5px;
}
.input_form {
display: inline-block;
width: 75%;
height: 15%;
margin:  2%;
background-color: red;
border: whitesmoke;
border-radius: 10px;
}
textarea {
text-align: center;
background-color: red;
border: whitesmoke;
border-radius: 5px;
width: 97%;
height: 36%;
margin: 0%;
    padding: 0%;
}

/*galeria*/
.contenedor {
    border: 2px solid white;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "caja2 caja3 caja1 caja1"
    "caja2 caja3 caja4 caja4"
    "caja2 caja3 caja4 caja4"
    ;
}

.caja {
    border: 1px solid #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja1 {
grid-area: caja1;

}
.caja2 {
    grid-area: caja2;
}
.caja3 {
    grid-area: caja3;
}
.caja4 {
    grid-area: caja4;
}
.raider1{
    width: 100%;
    height: 70%;
}
.raider2{
    width: 100%;
    height: 85%;
}
.raider3{
    width: 98%;
    height: 90%;
}
.raider4{
    width: 100%;
}
/*footer*/
footer{
    background-color:#212529;
    padding: 0px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: relative;
}
.p_footer{
    color: white;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:768px){
.motoprincipal{
    margin: 10%;
}
body{
    background-color: whitesmoke;
}
h1{
    color: black;
}
p{
    color: black;
}

.contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(3, 1fr);
    gap: 5px;
    grid-template-areas: 
    "caja1 caja2"
    "caja3 caja4"
    
}
.raider1{
    width: 100%;
    height: 93%;
}
.raider2{
    width: 100%;
    height: 94%;
}
.raider3{
    width: 100%;
    height: 94%;
}
.raider4{
    width: 100%;
}

H2 {
    color: black;
    text-align: center;
    margin:2px ;
    position: relative;
    left: 0px ;
    }
    form{
        height: 55%;
        width: 50%;
        background-color: #343a40;
        text-align: center;
        position: absolute;
        left: 25%;
        border-radius: 5px;
    }
    .input_form {
    display: inline-block;
    width: 75%;
    height: 15%;
    margin:  2%;
    background-color: red;
    border: whitesmoke;
    border-radius: 10px;
    }
    textarea {
    text-align: center;
    background-color: red;
    border: whitesmoke;
    border-radius: 5px;
    width: 97%;
    height: 36%;
    margin: 0%;
        padding: 0%;
    }

    .mapa {
        margin-bottom: 2%;
    margin-top: 60%;
    margin-left: 26%;
    }
    
}

@media screen and (max-width:480px) {
.motoprincipal{
    margin: 5%;
}
body {
    background-color:black;
}
.contenedor {
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr);
    grid-template-areas: 
    "caja1"
    "caja2"
    "caja3"
    "caja4"
    
}

.raider1{
    width: 100%;
}
.raider2{
    width: 100%;
}
.raider3{
    width: 100%;
}
.raider4{
    width: 100%;
}

.harley1{
    width: 100vh;
}

/*formulario*/
p{
    color: white;
}
.contactof {
    width: 60%;
    margin-top: 5%;
    margin-left: 22%;
}
h1{
    color: white;
    margin-top: 5%;
}
H2 {
    color: white;
    text-align: center;
    margin:2px ;
    position: relative;
    left: 0% ;
    }
    form{
        height: 55%;
        width: 60%;
        background-color: #343a40;
        text-align: center;
        position: absolute;
        left: 22%;
        border-radius: 5px;
        margin-top: 2%;
    }
    .input_form {
    display: inline-block;
    width: 75%;
    height: 15%;
    margin:  2%;
    background-color: red;
    border: whitesmoke;
    border-radius: 10px;
    }
    textarea {
    text-align: center;
    background-color: red;
    border: whitesmoke;
    border-radius: 5px;
    width: 97%;
    height: 36%;
    margin: 0%;
        padding: 0%;
    }

    .mapa {
    margin-bottom: 2%;
    margin-top: 115%;
    margin-left: 20%;
    }
    
    footer{
        background-color: #343a40;
        margin-top: 75%;
        padding: 0px;
        width: 100%;
        height: 50px;
        bottom: 0px;
        position: relative;
    }
    .p_footer{
        color: white;
        font-size: 20px;
        text-align: center;
    }
}

